# Задача по ML

 __<font color='red'>Ваша задача:</font>__ сделать `прогноз оттока клиентов`(столбец Churn) для телеком компании.
 
__Ваш ноутбук должен состоять из этапов:__

- Автоматизация процессов (_Codify and automate the workflow_)
- Прогноз (_Prediction_)
- Чистка (_Data preprocessing_)
- Показать пару интересных графиков (_EDA_)
- Гиперпараметры (_Hyperparameter tuning_)
- Нормализация/Стандартизация (_Normaliztion/Standardization_)
- Модель оценок (_Model Evaluation_)
- Фичир-инжиниринг (_Feature engineering_)

<div class="alert alert-block alert-warning">
Покажите нам всю красоту Машинного Обучения!
</div>

In [1]:
# ps. не забываем комментировать свои действия

-----

# <font color='green'>Удачи!</font>

In [ ]:
# dataset - Churn_task.csv

In [227]:
df = pd.read_csv('Churn_task.csv')

In [228]:
df.isnull().sum()

customerID             0
gender                 7
age                 3500
SeniorCitizen          0
Partner                0
Dependents             0
tenure                69
PhoneService           0
MultipleLines          0
InternetService        0
OnlineSecurity         0
OnlineBackup           0
DeviceProtection       0
TechSupport            0
StreamingTV            0
StreamingMovies        0
Contract               0
PaperlessBilling       0
PaymentMethod          0
MonthlyCharges         0
TotalCharges           0
Churn                  0
dtype: int64

In [165]:
import random

In [169]:
random.randint(0,5)

3

In [170]:
import numpy as np

In [ ]:
def random(x):
    return lambda x: random.randint(18,102)

df['age'].apply

In [171]:
df['age'] = np.random.randint(18, 102, df.shape[0])

In [174]:
df.age.value_counts()

70     105
54     102
46     101
75      99
66      98
      ...
94      71
50      70
101     70
52      69
73      63
Name: age, Length: 84, dtype: int64

In [176]:
df.to_csv('test.csv', index=False)

In [182]:
df.iloc[:3500]['age'] = np.nan

<ipython-input-182-0cbd0eecaa40>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[:3500]['age'] = np.nan

In [192]:
df.iloc[:3500, df.columns.get_loc('age')] = np.nan

In [197]:
df = df.sample(frac=1)

In [199]:
df.reset_index(inplace=True)

In [201]:
df.drop(columns=['index'], inplace=True)

In [204]:
df.to_csv('Churn_task.csv')

In [207]:
df.columns.tolist()

['Unnamed: 0',
 'customerID',
 'gender',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'MonthlyCharges',
 'TotalCharges',
 'Churn',
 'age']

In [210]:
df = df[['Unnamed: 0',
 'customerID',
 'gender',
 'age',
 'SeniorCitizen',
 'Partner',
 'Dependents',
 'tenure',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod',
 'MonthlyCharges',
 'TotalCharges',
 'Churn']]

In [212]:
df.age.value_counts()

46.0     59
54.0     58
70.0     57
20.0     57
100.0    55
         ..
71.0     32
73.0     31
43.0     29
52.0     28
96.0     27
Name: age, Length: 84, dtype: int64

In [215]:
df['age']=np.random.randint(df.loc[df.age.isin([80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99])])

,Unnamed: 0,customerID,gender,age,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
4,4,3932-CMDTD,Female,94.0,0,No,No,4.0,Yes,No,...,Yes,Yes,Yes,Yes,One year,Yes,Electronic check,105.65,443.9,Yes
6,6,8739-WWKDU,Male,89.0,1,No,No,25.0,Yes,Yes,...,No,No,Yes,No,Month-to-month,Yes,Electronic check,89.50,2196.15,Yes
10,10,1482-OXZSY,Male,93.0,0,No,No,30.0,Yes,Yes,...,No,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),100.40,2936.25,No
15,15,2969-VAPYH,Female,86.0,0,No,No,67.0,Yes,No,...,No,Yes,No,No,One year,No,Credit card (automatic),60.50,3870,No
27,27,8972-HJWNV,Female,83.0,1,Yes,No,7.0,Yes,Yes,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,84.55,646.85,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6974,6974,2676-SSLTO,Male,90.0,0,No,No,49.0,Yes,Yes,...,No,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),66.15,3199,No
6986,6986,3675-EQOZA,Male,86.0,0,No,No,5.0,Yes,No,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Bank transfer (automatic),20.65,93.55,No
7006,7006,5600-PDUJF,Male,88.0,0,No,No,6.0,Yes,No,...,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
7015,7015,8350-NYMVI,Female,84.0,0,No,No,39.0,No,No phone service,...,Yes,Yes,No,No,Month-to-month,No,Bank transfer (automatic),41.10,1597.05,No
7020,7020,4480-MBMLB,Female,91.0,0,No,No,36.0,Yes,Yes,...,Yes,No,Yes,Yes,One year,Yes,Bank transfer (automatic),104.80,3886.45,No

In [222]:
df.drop(columns=['Unnamed: 0'], inplace=True)

<ipython-input-222-a0b5aa997b95>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Unnamed: 0'], inplace=True)

In [226]:
df.to_csv('Churn_task.csv', index=False)